db.sqlite3
__pycache__
.DS_Store
*.pyc
.vscode
.breakpoints
poetry.lock
pyproject.toml
docker-compose.yml
venv
extentions/logs
extentions/TTS
extentions/htmls
extentions/local
extentions/ArknightsData
extentions/images